includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
	excludePaths:
		- src/Controller/ErrorPreviewConsoleController.php
		- src/Controller/ErrorPreviewController.php
		- src/Middleware/Routed/Preview/ErrorPreviewAction.php
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#function set_error_handler expects (callable(int, string, string, int, array): bool)*#'
		- '#Invalid type object to throw#'
