parameters:
	ignoreErrors:
		-
			message: "#^Instanceof between \\*NEVER\\* and ErrorHeroModule\\\\Listener\\\\Mvc will always evaluate to false\\.$#"
			count: 1
			path: src/Command/BaseLoggingCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of function set_error_handler expects \\(callable\\(int, string, string, int\\)\\: bool\\)\\|null, array\\{\\$this\\(ErrorHeroModule\\\\Command\\\\BaseLoggingCommand\\), 'phpErrorHandler'\\} given\\.$#"
			count: 1
			path: src/Command/BaseLoggingCommand.php

		-
			message: "#^Invalid type object to throw\\.$#"
			count: 1
			path: src/Handler/Logging.php

		-
			message: "#^Parameter \\#1 \\$callback of function set_error_handler expects \\(callable\\(int, string, string, int\\)\\: bool\\)\\|null, array\\{\\$this\\(ErrorHeroModule\\\\Listener\\\\Mvc\\), 'phpErrorHandler'\\} given\\.$#"
			count: 1
			path: src/Listener/Mvc.php

		-
			message: "#^Parameter \\#1 \\$callback of function set_error_handler expects \\(callable\\(int, string, string, int\\)\\: bool\\)\\|null, array\\{\\$this\\(ErrorHeroModule\\\\Middleware\\\\Mezzio\\), 'phpErrorHandler'\\} given\\.$#"
			count: 1
			path: src/Middleware/Mezzio.php
