includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
	excludePaths:
		- src/Command/Preview/ErrorPreviewConsoleCommand.php
		- src/Controller/ErrorPreviewController.php
		- src/Middleware/Routed/Preview/ErrorPreviewAction.php
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#function set_error_handler expects (callable(int, string, string, int, array): bool)*#'
		- '#Invalid type object to throw#'
		- '#Cannot call method getBody\(\) on int#'
		- '#Access to an undefined property ErrorHeroModule\\Command\\BaseLoggingCommand\:\:\$request#'
		- '#Instanceof between \*NEVER\* and ErrorHeroModule\\Listener\\Mvc will always evaluate to false#'
