{% extends '@layout/default.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <p>We have encountered a problem and we can not fulfill your request. An error report has been generated and sent to the support team and someone will attend to this problem urgently. Please try again later. Thank you for your patience.</p>
{% endblock %}