<?php

return [
    'error-hero-module' => [
        'enable' => true,
        'options' => [
            // excluded php errors
            'exclude-php-errors' => [
                E_USER_DEPRECATED
            ],

            // show or not error
            'display_errors'  => 0,

            // if enable and display_errors = 0
            'view_errors' => 'error-hero-module/error-default'
        ],
        'logging' => [
            'adapters' => [
                'stream' => [
                    'path' => '/var/log'
                ],
                'db' => [
                    'zend-db-adapter' => 'Zend\Db\Adapter\Adapter',
                    'table'           => 'log'
                ],
            ],
        ],
        'email-notification' => [
            'developer1@foo.com',
            'developer2@foo.com',
        ],
    ],
];
