name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }} (${{ matrix.deps }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3', '8.4']
        deps: ['prefer-latest', 'prefer-lowest']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: xdebug
      - name: Setup MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: '8.0'
      - run: mysql -uroot -h127.0.0.1 -e 'SELECT version()'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Import DB
        run: "mysql -u root -h 127.0.0.1 -e 'create database errorheromodule' && mysql -u root -h 127.0.0.1 errorheromodule < spec/Fixture/data/sql.sql"
      - name: "Validate composer.json"
        run: "composer validate"
      - name: "Install dependencies (${{ matrix.deps }})"
        run: |
          if [ "${{ matrix.deps }}" = "prefer-lowest" ]; then
            composer update --prefer-lowest --prefer-stable --no-interaction --no-progress --ignore-platform-reqs
          else
            composer install --no-interaction --no-progress --ignore-platform-reqs
          fi
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Code analyze"
        run: |
          composer phpstan
          bin/rector process --dry-run
      - name: "Run test suite"
        run: |
          composer dump-autoload -o
          mkdir -p build/logs && bin/kahlan --coverage=4 --reporter=verbose --clover=build/logs/clover.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./build/logs/clover.xml
          flags: tests
          name: codecov-umbrella
          fail_ci_if_error: true
