name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.3', '8.4', '8.5']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: ${{ matrix.php-versions == '8.4' && 'xdebug' || 'none' }}
      - name: Setup MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: '8.0'
      - run: mysql -uroot -h127.0.0.1 -e 'SELECT version()'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Import DB
        run: "mysql -u root -h 127.0.0.1 -e 'create database errorheromodule' && mysql -u root -h 127.0.0.1 errorheromodule < spec/Fixture/data/sql.sql"
      - name: "Validate composer.json"
        run: "composer validate"
      - name: "Install dependencies"
        run: "composer install --ignore-platform-reqs"
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Code analyze"
        run: |
          composer phpstan
          bin/rector process --dry-run
      - name: "Run test suite (no coverage)"
        if: matrix.php-versions != '8.4'
        run: |
          composer dump-autoload -o
          bin/kahlan

      - name: "Run test suite (with coverage)"
        if: matrix.php-versions == '8.4'
        run: |
          composer dump-autoload -o
          mkdir -p build/logs && bin/kahlan --coverage=4 --reporter=verbose --clover=build/logs/clover.xml

      - name: Upload coverage to Codecov
        if: matrix.php-versions == '8.4'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./build/logs/clover.xml
          flags: tests
          name: codecov-umbrella
          yml: ./codecov.yml
          fail_ci_if_error: true
